.container-full3
  .row
    .country.col-sm-12
      %br
      %br
      %br
      .text-center.v-center
        %h1
          %a{:href=>"/#{@link.opc_url}" , :target=>"_blank"} #{@link.opc_url}
        %p.lead Estadisticas de acceso por paises
        = pie_chart @country