.container-full3
  .row
    .country.col-sm-12
      %br
      %br
      %br
      .text-center.v-center
        %h1 #{@link.opc_url} : Estadisticas de acceso por paises
        %p.lead By Karen & Haniel
        = pie_chart @country