-!!!
%html{:lang => "es"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title SYTW URLS
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:href => "/css/styles.css", :rel => "stylesheet"}/
    %script(src="//www.google.com/jsapi")
    %script(src="/js/chartkick.js")
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{:role => "navigation", :href => "/"} Inicio
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse            
          %nav.navbar-nav.navbar-right
            -if !session[:auth]
              %a.navbar-brand{:href => "/"} Registrese: 
              %a{:href => "/auth/google_oauth2"}
                %img{:alt => "Google", :src => "/img/ico/googleplus.ico", :width => "40"}/
              %a{:href => "#"}
                %img{:alt => "Facebook", :src => "/img/ico/facebook.ico", :width => "40"}/
              %a{:href => "#"}
                %img{:alt => "Twitter", :src => "/img/ico/twitter.ico", :width => "40"}/
            -elsif session[:auth]
              %a.navbar-brand{:href => "/"} Bienvenido, #{session[:nombre]}
              %a.button.btn.btn-danger{:href=>'/logout', :type => "button"} Salir

      / /.navbar-collapse
    =yield 
    .col-md-12
      %p.pull-right Leinah ©Copyright 2014    
    / script references
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
    %script{:src => "/js/bootstrap.min.js"}
    
