html,body {
  height:100%;
}

h1 {
  font-family: Arial,sans-serif;
  font-size:xx-large;
  color:#DDCCEE;
}

.lead {
	color:#efefef;
}

/* Custom container */
.container-full {
  margin: auto;
  width: 100%;
  min-height: 10%;
  background-color:#110022;
  color:#fff;
  overflow:hidden;
}
.container-full2 {
  margin: auto;
  width: 100%;
  min-height: 10%;
  background-color:#fff;
  overflow:hidden;
}

.navbar-fixed-top{
  background-color:#110022;
  border: 0;

}
.container-full a {
  color:#fff;
  text-decoration: none;
}

.v-center {
  margin-top:80px;
}

.container-down {
  margin-top:2%;
  }
